"""
Methods identifying various schools of thought about how to compute the timings
0 - Shia Ithna-Ashari
1 - University of Islamic Sciences, Karachi
2 - Islamic Society of North America (ISNA)
3 - Muslim World League (MWL)
4 - Umm al-Qura, Makkah
5 - Egyptian General Authority of Survey
7 - Institute of Geophysics, University of Tehran
"""
METHOD = 3

# Coordinates and Timezone
LATITUDE = 6.4531
LONGITUDE = 3.3958
TIMEZONE = 'Africa/Lagos'

# Slack webhook url
SLACK_WEBHOOK_URL = 'https://hooks.slack.com/services/***************'
SLACK_CHANNEL = 'testing_channel'

# Email support
TO_EMAIL = 'example@example.com'
FROM_EMAIL = 'example@example.com'

"""
Limit number of salah to get notification for.

Example: SALAWAT = ['Dhuhr', 'Asr', 'Maghrib']
"""
# SALAWAT = ['Dhuhr', 'Asr']

"""
Days of the week to be exempted for notifications.

0 - Monday
1 - Tuesday
2 - Wednesday
3 - Thursday
4 - Friday
5 - Saturday
6 - Sunday

Example: DAYS_OF_THE_WEEK_EXEMPTED = [0, 1, 2]
"""
# DAYS_OF_THE_WEEK_EXEMPTED = [5, 6]
